/*! Domestic Terrorist NFT stylesheet */

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@font-face {
    font-family: 'slave_only_dreams_to_be_kinRg';
    src: url('slave_only_dreams_to_be_king-webfont.eot');
    src: url('slave_only_dreams_to_be_king-webfont.eot?#iefix') format('embedded-opentype'),
         url('slave_only_dreams_to_be_king-webfont.woff2') format('woff2'),
         url('slave_only_dreams_to_be_king-webfont.woff') format('woff'),
         url('slave_only_dreams_to_be_king-webfont.ttf') format('truetype'),
         url('slave_only_dreams_to_be_king-webfont.svg#slave_only_dreams_to_be_kinRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arenq';
    src: url('arenq-webfont.eot');
    src: url('arenq-webfont.eot?#iefix') format('embedded-opentype'),
         url('arenq-webfont.woff2') format('woff2'),
         url('arenq-webfont.woff') format('woff'),
         url('arenq-webfont.ttf') format('truetype'),
         url('arenq-webfont.svg#arenqregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  background-image: url("https://github.com/freehandslife/DomTerNFT/blob/3ca97779589498d680c00d2c5fb8804b0b98aef3/rainbowWall.png");
  background-color: #cccccc;
  min-height: 100%;
  min-width: 100%;
  background-repeat: repeat;
  background-size: cover;
  align-items: center;
}

x-sign {
  --interval: 1s;
  display: block;
  text-shadow:
    0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
}
x-sign:nth-of-type(1) {
  color: lightpink;
  --color1: pink;
  --color2: orangered;
  --color3: red;
  --color4: magenta;
  font-family: arenq;
  font-size: 95px;
}

x-sign:nth-of-type(2) {
  color: yellow;
  --color1: goldenrod;
  --color2: orangered;
  --color3: mediumblue;
  --color4: purple;
  font-family: arenq;
  font-size: 150px;
}

x-sign:nth-of-type(3) {
  color: lightyellow;
  --color1: yellow;
  --color2: lime;
  --color3: green;
  --color4: mediumblue;
  font-family: Kumar One Outline;
}

x-sign:nth-of-type(4) {
  color: lightyellow;
  --color1: gold;
  --color2: firebrick;
  --color3: pink;
  --color4: red;
  font-family: Londrina Outline;
}


x-sign:nth-of-type(5) {
  color: azure;
  --color1: azure;
  --color2: aqua;
  --color3: dodgerblue;
  --color4: blue;
  font-family: Sriracha;
}

x-sign:nth-of-type(6) {
  color: tomato;
  --color1: orangered;
  --color2: firebrick;
  --color3: maroon;
  --color4: darkred;
  font-family: Yellowtail;
}

x-sign:nth-of-type(7) {
  color: lightyellow;
  --color1: yellow;
  --color2: orange;
  --color3: brown;
  --color4: purple;
  font-family: Bad Script;
}

x-sign:nth-of-type(8) {
  color: yellow;
  --color1: yellow;
  --color2: lime;
  --color3: green;
  --color4: darkgreen;
  font-family: Monoton;
}

x-sign:nth-of-type(9) {
  color: lightyellow;
  --color1: yellow;
  --color2: gold;
  --color3: orange;
  --color4: darkred;
  font-family: Sriracha;
}

@keyframes flicker {
  50% {
    color: white;
    filter: saturate(200%) hue-rotate(20deg);
  }
}

img{
  align-items: center;
}

h1{
    font-family: "slave_only_dreams_to_be_kinRg";
    font-size: 175px;
}

h2{
    font-family: "arenq";
    font-size: 125px;

}

.col-{
  text-align: center;
}



/*class="mx-auto d-block center"

<p2>
  <div class="container-fluid mt-3">
    <div class="row container-fluid">
      <div class="row">
        <div class="col-4" class="responsive" style="font-family:arenq; font-size:100px;">CLICK</div>
        <a  class="col-4" class="responsive" href="https://www.magiceden.io/u/domesticterroristnft"> <img src="https://raw.githubusercontent.com/freehandslife/DomTerNFT/main/domTerWeb/css/pics/logoGif/domTer150s.gif" alt="Domestic Terrorist NFT Collection"></a>
        <div class="col-4" class="responsive" style="font-family:arenq; font-size:100px">HERE</div>
      </div>
    </div>
  </div>
</p2>

class="d-block center" style="border:2px solid Tomato;"*/
