/*! Domestic Terrorist NFT stylesheet */

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@font-face {
    font-family: 'slave_only_dreams_to_be_kinRg';
    src: url('slave_only_dreams_to_be_king-webfont.eot');
    src: url('slave_only_dreams_to_be_king-webfont.eot?#iefix') format('embedded-opentype'),
         url('slave_only_dreams_to_be_king-webfont.woff2') format('woff2'),
         url('slave_only_dreams_to_be_king-webfont.woff') format('woff'),
         url('slave_only_dreams_to_be_king-webfont.ttf') format('truetype'),
         url('slave_only_dreams_to_be_king-webfont.svg#slave_only_dreams_to_be_kinRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mentha_raptureregular';
    src: url('mentha_rapture-webfont.eot');
    src: url('mentha_rapture-webfont.eot?#iefix') format('embedded-opentype'),
         url('mentha_rapture-webfont.woff2') format('woff2'),
         url('mentha_rapture-webfont.woff') format('woff'),
         url('mentha_rapture-webfont.ttf') format('truetype'),
         url('mentha_rapture-webfont.svg#mentha_raptureregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dotimpactregular';
    src: url('mpf_dotimpact-webfont.eot');
    src: url('mpf_dotimpact-webfont.eot?#iefix') format('embedded-opentype'),
         url('mpf_dotimpact-webfont.woff2') format('woff2'),
         url('mpf_dotimpact-webfont.woff') format('woff'),
         url('mpf_dotimpact-webfont.ttf') format('truetype'),
         url('mpf_dotimpact-webfont.svg#dotimpactregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'offshore_banking_businessRg';
    src: url('offshore-webfont.eot');
    src: url('offshore-webfont.eot?#iefix') format('embedded-opentype'),
         url('offshore-webfont.woff2') format('woff2'),
         url('offshore-webfont.woff') format('woff'),
         url('offshore-webfont.ttf') format('truetype'),
         url('offshore-webfont.svg#offshore_banking_businessRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'broken_glassregular';
    src: url('brokenglass-webfont.eot');
    src: url('brokenglass-webfont.eot?#iefix') format('embedded-opentype'),
         url('brokenglass-webfont.woff2') format('woff2'),
         url('brokenglass-webfont.woff') format('woff'),
         url('brokenglass-webfont.ttf') format('truetype'),
         url('brokenglass-webfont.svg#broken_glassregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'el_tercer_hombrenormal';
    src: url('el_tercer_hombre-webfont.eot');
    src: url('el_tercer_hombre-webfont.eot?#iefix') format('embedded-opentype'),
         url('el_tercer_hombre-webfont.woff2') format('woff2'),
         url('el_tercer_hombre-webfont.woff') format('woff'),
         url('el_tercer_hombre-webfont.ttf') format('truetype'),
         url('el_tercer_hombre-webfont.svg#el_tercer_hombrenormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arenq';
    src: url('arenq-webfont.eot');
    src: url('arenq-webfont.eot?#iefix') format('embedded-opentype'),
         url('arenq-webfont.woff2') format('woff2'),
         url('arenq-webfont.woff') format('woff'),
         url('arenq-webfont.ttf') format('truetype'),
         url('arenq-webfont.svg#arenqregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.glow {
  font-size: 150px;
  color: #000000;
  font-family: "slave_only_dreams_to_be_kinRg", Fantasy, cursive, Times;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

.arenqGlow {
  font-size: 100px;
  color: #000000;
  font-family: "el_tercer_hombre", Fantasy, cursive, Times;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0500e6, 0 0 40px #0500e6, 0 0 50px #0500e6, 0 0 60px #0500e6, 0 0 70px #0500e6;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #4d55ff, 0 0 40px #4d55ff, 0 0 50px #4d55ff, 0 0 60px #4d55ff, 0 0 70px #4d55ff, 0 0 80px #4d55ff;
  }
}

body {
  background-image: url("https://github.com/freehandslife/DomTerNFT/blob/3ca97779589498d680c00d2c5fb8804b0b98aef3/rainbowWall.png");
  background-color: #000000;
  min-height: 100%;
  min-width: 100%;
  background-repeat: repeat;
  background-size: cover;
  align-items: center;
}


img{
  align-items: center;
}

h1{
    font-family: "slave_only_dreams_to_be_kinRg";
    font-size: 150px;
}

h2{
    font-family: "el_tercer_hombre";
    font-size: 60px;

}

.col-{
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
/*  [class*="col-"] {
    width: 100vh;
    align: center;
    height: auto;
  }
  [class*="col-lg-2"] {
    width: 100vh;
    align: center;
    height: auto;
  }
  [class*="row"] {
    height: auto;
    margin: auto;
  }
*/  .glow {
    font-size: 150px;
    color: #000000;
    font-family: "slave_only_dreams_to_be_kinRg", Fantasy, cursive, Times;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  .arenqGlow {
    font-size: 90px;
    color: #000000;
    font-family: "el_tercer_hombre", Fantasy, cursive, Times;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
}

@media only screen and (max-width: 1050px) {
  /* For Centering Button */
  .glow {
    font-size: 150px;
    color: #000000;
    font-family: "slave_only_dreams_to_be_kinRg", Fantasy, cursive, Times;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  .arenqGlow {
    font-size: 80px;
    color: #000000;
    font-family: "el_tercer_hombre", Fantasy, cursive, Times;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
}

@media only screen and (max-width: 900px) {
  /* For Centering Button */
  .glow {
    font-size: 125px;
    color: #000000;
    font-family: "slave_only_dreams_to_be_kinRg", Fantasy, cursive, Times;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  .arenqGlow {
    font-size: 70px;
    color: #000000;
    font-family: "el_tercer_hombre", Fantasy, cursive, Times;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
}

@media only screen and (max-width: 750px) {
  /* For Centering Button */
  .glow {
    font-size: 95px;
    color: #000000;
    font-family: "slave_only_dreams_to_be_kinRg", Fantasy, cursive, Times;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  .arenqGlow {
    font-size: 60px;
    color: #000000;
    font-family: "el_tercer_hombre", Fantasy, cursive, Times;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
}

@media only screen and (max-width: 700px) {
  /* For Centering Button */
  .glow {
    font-size: 90px;
    color: #000000;
    font-family: "slave_only_dreams_to_be_kinRg", Fantasy, cursive, Times;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  .arenqGlow {
    font-size: 60px;
    color: #000000;
    font-family: "el_tercer_hombre", Fantasy, cursive, Times;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
}

@media only screen and (max-width: 600px) {
  /* For Centering Button */
  .glow {
    font-size: 80px;
    color: #000000;
    font-family: "slave_only_dreams_to_be_kinRg", Fantasy, cursive, Times;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }

  .arenqGlow {
    font-size: 40px;
    color: #000000;
    font-family: "el_tercer_hombre", Fantasy, cursive, Times;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
}

@media only screen and (max-width: 500px) {
  /* For Centering Button */
  .glow {
    font-size: 70px;
    color: #000000;
    font-family: "slave_only_dreams_to_be_kinRg", Fantasy, cursive, Times;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  .arenqGlow {
    font-size: 40px;
    color: #000000;
    font-family: "el_tercer_hombre", Fantasy, cursive, Times;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
}

@media only screen and (max-width: 400px) {
  /* For Centering Button */
  .glow {
    font-size: 70px;
    color: #000000;
    font-family: "slave_only_dreams_to_be_kinRg", Fantasy, cursive, Times;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  .arenqGlow {
    font-size: 40px;
    color: #000000;
    font-family: "el_tercer_hombre", Fantasy, cursive, Times;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
}
